/* Header of the dropdown component */
.header {
  margin-bottom: 10px;
}

/* Dropdown component */
.dropdown {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  padding: 15px;
}

/* Selected Item in the list */
.dropdown__selectItem {
  font-family: "Courier New", Courier, monospace;
  width: 300px;
  height: 50px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 500;
  padding: 10px;
  padding-top: 15px;
  cursor: pointer;
}

/* Dropdown list */
.dropdown__list {
  margin-top: 5px;
  font-family: "Courier New", Courier, monospace;
}

/* Single Item in the list */
.dropdown__item {
  width: 300px;
  height: 50px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 200;
  padding: 10px;
  padding-top: 15px;
}

/* Hovering list */
.dropdown__item:hover {
  background-color: antiquewhite;
  cursor: pointer;
}
